body {
    margin: 0;
   font-family: 'Roboto', sans-serif;
}

.header {
    background-color: black;
    color: white;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    background-image: url(images/background.jpg); /*изображение на шапку*/
    background-size: cover; /*теперь изображение растянуто полностью*/
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline;
    margin-right: 10px;
}

.main-menu li:last-child {
    margin-right: 0;
}

/*настриваем вид гиперссылок "обо мне", "навыки", "технологии"*/
.main-menu a {
    text-decoration: none; /*выделение текста*/
    color: white;
}
/*выравнивание всего текста по странице*/
.container {
    max-width: 75%;  /*процент заполнения текстом страницы*/
    margin: 0 auto; /*с двух сторон равномерные отступы*/
}

/*для всех p выравнивание по ширине*/
p {
    text-align: justify;
}

.footer {
    background-color: black;
    padding: 20px 0; /*отступы как у header*/
    color: white;
}

.avatar {
    text-align: center;
    height: 300px;
    background-image: url(images/background1.png); /*фон сзади основной картинки*/
    background-repeat: no-repeat; /*управление дублированием фонового изображения*/
    background-position: center;
}

/*так как из-за 45-48 картинка не вмещается в границы высоты, то настраиваем его
высоту относительно родительского элемента*/
.avatar img {
    height: 100%;
}

.text-center {
    text-align: center;
}

.w-50 {
    width: 50%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block; /*так как границы кнопки залезают на границу текста, 
    то меняем тип отображения кнопки*/
    text-decoration: none;
    color: black;
    border: 2px solid black; /*рамка*/
    padding: 10px; /*внутренний отступ*/
    border-radius: 5px; /*закругление*/
}

.contact-me-btn {
    color: white; /*цвет текста*/
    border-color: white; /*цвет рамки*/
}

/* задаём границы таблицы */

table {
    border-collapse: collapse; /* убираем расстояние между ячейками */
}

th,td {
    border: 1px solid black;  
    text-align: center;
    padding: 10px;
}

/* ИЛИ 
th {
    border: 1px solid black;  
}

td {
    border: 1px solid black;  
} *//* solid - сплошная линия*/