html {
    font-family: 'Rubik', sans-serif;
}

/* применяем альтернативную модель, чтобы размер информации в блоке о товаре учитывался вместе с шириной и отступом  */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh; /* 100% От области просмотра */
    position: relative;
}

body::after {
    content: "";
    display: block;
    height: 55px;
}

.header {
    background-color: rgb(255, 238, 50);
    padding: 1rem 0;
    position: sticky;
    top: 0;
}

.container {
    font-size: 1.3rem;
    max-width: 95%;
    margin: 0 auto; /* выравниваем все блочные элементы по центру */
}

.clearfix::after { /* элементы с after отсутствуют в html разметке, но мы можем добавить их через css и что-то туда добавлять */
    content: "";
    display: block;
    clear: both; /* запрещает обтекание объекта текстом */
}

.main-menu {
    flex-grow: 1;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    padding: 5px;
}

.main-menu ul, li {
    display: inline;
}

/*настриваем вид гиперссылок */
.container a {
    text-decoration: none; /*выделение текста*/
    color: black;
}

.d-flex {
    display: flex;
}

.sidebar {
    padding: 1rem 0;
    width: 15rem;
    /* position: sticky;
    top: 55px; задаём отступ равный высоте header 16+18+5 */
    flex-shrink: 0;
}

.page-content {
    padding: 1rem;
}

.product-category-header {
    margin-top: 0;
}

.product-card {
    display: flex;
    height: 22rem;
    width: 31rem;
    border: 2px solid rgb(174, 2, 2);
    border-radius: 5px;
}

.product-image {
    flex-basis: 50%;
    height: 100%;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* изображение сохранит изначальные пропорции, чуть уменьшится, чтобы не обрезать товар*/
}

.product-details {
    flex-basis: 50%;
    height: 100%;
    padding: 1rem;
}

.product-details header {
    font-weight: bold;
    font-size: 1.2rem;
}

.product-details .information {
    text-align: justify;
    font-size: 1rem;
    height: 60%;
    overflow: auto; /* на случай, если текста в описании будет больше, то появится прокрутка */
}

.control {
    /* text-align: center; */
    
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.control .btn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    padding: 0;
    overflow: hidden; /* чтобы не игнорировался border-radius у кнопок */
}

.control .btn span {
    padding: 0.625rem 1.25rem;
    display: inline-block;
}

.control .price {
    background-color: #333;
}

.control .buy {
    background-color: rgb(174, 2, 2);
    font-weight: bold;
}

.scroll-to-top-btn {
    font-size: 1.5rem;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;  /* подсветка */
    background-color: rgb(51, 51 ,51);
    color: white;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
}

@media all and (max-width: 800px) {
    .d-flex {
      justify-content: space-around;
    }

    .main-menu {
        flex-grow: 0;
    }

    .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
    }

    .header .container {
        flex-direction: column;
    }

    .main-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    main {
        flex-direction: column;
        align-items: center;
    }

    .header {
        position: static;
    }

    .product-card {
        flex-direction: column;
        width: 95%;
        max-width: 350px;
        height: auto;
    }

    .product-details .information {
        height: auto;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    .products-list {
        flex-direction: column;
        align-items: center;
    }

  }
