html {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.831);
    margin: 0;
}

header{
    color: white;
    text-align: center;
    padding: 250px 0;
    
}

header h1 {
    padding-left: 20px;
}

header ul{
    list-style: none; 
    font-size: 18px;
    padding: 0;
}

header li{
    padding: 10px 0;
}

header a{
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
}